# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
*.c      diff=astextplain
*.cpp    diff=astextplain
*.h      diff=astextplain

# to make all the batch / shell scripts not show percentage.
DecoraterBot.bat linguist-vendored
DecoraterBot-3.5.sh linguist-vendored
DecoraterBot-3.6.sh linguist-vendored
install_deps.bat linguist-vendored
install_deps-3.5.sh linguist-vendored
install_deps-3.6.sh linguist-vendored
make_rst.bat linguist-vendored
make_rst.sh linguist-vendored
