*.cmd
__pycache__
resources/Dependencies/DecoraterBotCore/plugins
resources/Logs
!resources/Logs/ffmpeg.shit
resources/ConfigData/Credentials.json
resources/ConfigData/credits.json
resources/ConfigData/plugins
.idea

# pip stuff.
.cache
.*
!.gitignore
!.gitattributes
!.github
