*.cmd
__pycache__
cogs
resources/Logs
!resources/Logs/ffmpeg.shit

# Everything starting with a '.'.
.*
!.gitignore
!.gitattributes
!.github
*.bak

# all sqlite3 dbs except the localizations db.
*.db
!localizations.db
*.db-shm
*.db-wal
