pip
setuptools
wheel
regex
colorama
discord.py
aiohttp
asqlite @ git+https://github.com/Rapptz/asqlite.git
git+https://github.com/DecoraterBot-devs/DecoraterBotUtils.git
git+https://github.com/IzunaDevs/nsfw_dl.git
